
.modal-list::-webkit-scrollbar {
  width: 12px;
}

.modal-list::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid white;
}

.modal-list {
  max-height: 45vh; 
  overflow-y: scroll
}