
.modal-list::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.modal-list::-webkit-scrollbar-thumb {
  background-color: grey;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.modal-list {
  max-height: 45vh; 
  overflow-y: scroll
}